body{
	background-color: #f9f9f9;
	font-family: "Crimson Text";
}

.main{
	background: #fff;
}

.home-description{
	font-style: italic;
	font-weight: 600;
	font-family: "Crimson";
	font-size: 19px;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 29px;

}

.social a i{
	height: 40px;
	width: 40px;
	border: 1px solid #111;
	line-height: 40px;
	margin: 0 10px;
	color: #111;
	font-size: 20px;
	padding-bottom: 20px;
	}

.social a:hover i{
	color: #fff;
	border-color: #bb9e7d;
	background-color: #bb9e7d;
	}


@media (min-width: 778px)
{
		.main{
			height: 100vh;
			overflow: hidden;
		}

		.btn-group-vertical{
    		padding: 20px 87.5px;
    	}

    	.info{
			font-family: "Crimson";
			line-height: 28px;
		    font-size: 16px;
		    padding-top: 15px;
		    padding-right: 50px;
		}
		
		.home-description{
			padding-right: 90px;
			padding-left: 90px;
			
		}
		
}

.btn-rabbit{
	background-color: #fff;
	color: #111;
	font-style: italic;
	border: 1px solid #111;
	border-radius: 0px !important;
	transition: all 0.4s ease-in-out;
	margin-bottom: 20px;
	font-family: "Crimson";
	font-size: 13px;
	}

.btn-rabbit:hover{
	color: #fff;
	background-color: #bb9e7d;
	border-color: #bb9e7d;}


.logo{
	padding-top: 180px;
	text-transform: uppercase;
	font-size: 12px;
}

.logo h4{
	font-family: 'Josefin Sans';
}

.btn{
	padding: 10px 60px;
	height: 45px;
	font-size: 16px;
}
@media(max-width:700px){
   
	.logo{
		padding-top: 20px;
		text-transform: uppercase;
		font-size: 12px;
	}
	.img-rabbit{
		height: 80vh;
		width: 100%;
		object-fit: cover;
	}
}
